@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<html>
<head>
    <title>Home</title>
</head>
<body>
    <div style="position: fixed;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);" >
        <h1>Welcome to Admin Panel</h1>
    </div>
</body>
</html>