@{
    ViewData["Title"] = "Food";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}

<html>
<head>
    <title>Home</title>
</head>
<body>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <img src="~/assets/sizzler/onlineFoodOrder.jpg" />
    </div>
</body>
</html>
