@{
    ViewData["Title"] = "Payment Add/Edit";
    Layout = "~/Views/Shared/LayoutClient.cshtml";

}

@model FoodOrder.Areas.Payment.Models.PaymentModel;


<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:center; margin:20px;">@TempData["paymentMsg"]</h3>
        <form method="post" asp-area="Payment" asp-controller="Payment" asp-action="Save" enctype="multipart/form-data">

            @Html.HiddenFor(x=>x.PaymentID)
            
            <div class="container col-md-4">
                <div id="Checkout" class="inline">
                    <h1>Pay Invoice</h1>
                    
                        <div class="form-group">
                           
                            <div class="amount-placeholder">
                                <span>RS</span>
                                <input type="text" class="form-control" asp-for="ReceivedAmount" maxlength="255" placeholder="amount" required />
                                <span asp-validation-for="ReceivedAmount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label or="NameOnCard">Name on card</label>
                            <input type="text" class="form-control" asp-for="cardName" maxlength="255" placeholder="Name on Card " required />
@*                            <span asp-validation-for="cardName" class="text-danger"></span>
*@                        </div>
                        <div class="form-group">
                            <label for="CreditCardNumber">Card number</label>
                            <input type="text" class="form-control" maxlength="255" placeholder="Enter Cart Number " required/>
                        </div>
                        <div class="form-group">
                            <label for="SecurityCode">cvv</label>
                            <input id="SecurityCode" class="form-control" type="password" placeholder="cvv" required></input>
                        </div>
                        <div class="expiry-date-group form-group">
                            <label for="ExpiryDate">Expiry date</label>
                            <input id="ExpiryDate" class="form-control" type="text" placeholder="MM / YY" maxlength="7" required></input>
                        </div>
                        
                        <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
                        
                        <span class="align-middle">@TempData["total"] rs</span>
                            <button style="margin:10px;" formnovalidate="formnovalidate" class="btn btn-danger" asp-area="Cart" asp-controller="Cart" asp-action="Index">Back</button>
                        </button>
                </div>
            </div>

            

        </form>

    </div>
</div>

@section Scripts{
    <script>
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
